.listing-container{
        width: 94%;
        /* min-height: 500px; */
        margin: auto;
        /* background-color: aquamarine; */
}

.listing-title{
    padding-top: 2.5%;
    font-size: 2em;
}



.list-categories{
    padding-left: 1%;
    width: auto;
    margin-top: 5%;
}

.list-categories li{
    display: inline;
    /* padding: 3%; */
    text-align: center;
    background-color: #F5F5F5;
    color: black;

}

/* .list-categories li:hover{
    display: inline;
    padding: 3%;
    text-align: center;
    background-color: black;
    color: white;

} */


.category-link{
    text-decoration: none;
    width: auto;
    padding: 1.15% 2.5%;
    background-color: #F5F5F5;
    color: black;
}

.category-link:hover{
    color: white;
    background-color: black;
}






.cars-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.card{
    width: 20%;
    box-shadow: 5px 10px 8px #888888;
    margin: 1%;
}

.card-car-name{
    padding: 0.5% 0 1% 2%;
}

/* .card-car-price */