.footer-container{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.footer-container > div{
    width: 18%;
    height: 23em;
    margin: 6em 1.5em 4em 1.5em;
    
}

.connect img{
    width: 20%;
    margin: 3%;
}

.legal a{
    text-decoration: none;
    font-size: 115%;
    color: white;
}

.contact a{
    text-decoration: none;
    font-size: 115%;
    color: white;
}

.xtremecars a{
    text-decoration: none;
}

.link-hover a:hover{
    border-bottom: 1px solid white;
    transition: 1s;
}

